<h2><%= @hero.name %>'s Heroic Days</h2>
<p><%= link_to "Undoable Days", hero_undoables_path(@hero.id) %></p>
<%= render partial: "days/day", collection: @days, locals: {link_bar: "days/user_actions"} %>
